input, button {
    width: 100%;
}

input, button {
    width: 100%;
}

.container-register {
    border: 1px solid #efefef;
    border-radius: 8px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}